.circle {
    border-radius: 50%;
    position: absolute;
/*    display: inline-block;*/
}

#player {
    width: 50px;
    height: 50px;
    top: 100px;
    left: 100px;
    z-index: 999;
}

body {
    overflow: hidden;
}

#winOrLose {
    position: absolute;
    top: 42%;
    left: 42%;
    z-index: 9999;
    font-size: 40px;
    font-family: 'Asap', sans-serif;
}

.button {
    margin: 10px auto;
    padding: 15px;
    background-color: tomato;
    border-radius: 10px;
    font-size: 30px;

}

#intro {
    width: 90%;
    margin: auto;
    font-size: 30px;
    z-index: 9999;
    font-family: 'Asap', sans-serif; 
}

h1 {
    width: 50%;
    margin: auto;
    margin-top: 10%;
    margin-bottom: none;
    font-family: 'Asap', sans-serif; 
    
}